HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Spring config (REAL files - do not commit) ###

application-dev.yaml
application-staging.yaml
application-prod.yaml

### Example config (ALLOW commit) ###
!application.yaml.example
!application-dev.yaml.example
!application-prod.yaml.example
.env
spring-restful-api-error.log
spring-restful-api.log
